/* CSS reset */
html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
img,
form,
label,
iframe,
fieldset {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  font-weight: inherit;
  border: none;
}
html {
  margin: 0;
  font-family: verdana, geneva, sans-serif;
  font-size: 0.825em;
  line-height: 1.4;
  color: #000;
  background-color: #777;
}

body {
  padding: 10px 20px;
  margin: 0 auto;
  background-color: #fff;
  min-height: calc(100vh - 20px);
  max-width: 1010px;
}
body.uw_tf_standard_sidebar {
  font-size: .85em;
}
body.uw_tf_standard_site_footer {
  padding: 10px;
  background-color: #fafafa;
  font-size: .8em;
  background: #fafafa;
}

a {
  color: #96172e;
}
a:visited {
  color: #96172e;
}
body.uw_tf_standard a:hover,
body.uw_tf_standard_wide a:hover,
body.uw_tf_standard_sidebar a:hover {
  color: #03f;
}
body.uw_tf_standard_site_footer a {
  text-decoration: none;
}
body.uw_tf_standard_site_footer a:hover {
  text-decoration: underline;
}

ul {
  margin: 0 0 1em 0;
  padding: 0 0 0 2.7em;
  overflow: hidden; /*overflow and padding fixes bullets over floats issue*/
}

body.uw_tf_standard_sidebar ul {
  margin: 0;
  padding: 0 0 1em 1.6em;
}

ol {
  margin: 0 0 1em 0;
  padding: 0 0 0 3em;
  overflow: hidden; /*overflow and padding fixes bullets over floats issue*/
}

body.uw_tf_standard_sidebar ol {
  margin: 0 0 0.5em 0;
  padding: 0 0 1 1.6em;
}

li {
  margin-bottom: .5em;
}

ul li {
  padding: 0 0 0 0.3em;
}

p {
  margin: 0 0 1em 0;
}
h1 {
  margin: .5em 0;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  clear: both;
}
h2 {
  font-size: 1.3em;
  color: #111;
  margin-bottom: .8em;
  padding-bottom: 1px;
  border-bottom: 1px solid #fcd450;
}
h2 a {
  text-decoration: none;
}
h3 {
  font-size: 1.2em;
  color: #111;
  margin-bottom: .8em;
}
h4 {
  font-size: 1.1em;
  color: #222;
  margin-bottom: .9em;
}
h5 {
  font-size: 1.1em;
  color: #222;
  margin-bottom: .9em;
}
h6 {
  font-size: 1.1em;
  color: #333;
  margin-bottom: .9em;
}

hr {
  border: none;
  border-top: solid 2px #fcd450;
  margin-bottom: 1em;
}

div + h2 {
  margin-top: 1em;
}

address {
  margin-bottom: 1em;
}
:lang(en) {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

:lang(fr) {
  quotes: "\00AB\00A0" "\00A0\00BB" "\2039\00A0" "\00A0\203A";
}
blockquote footer {
  color: #878787;
  font-family: "Open Sans",Verdana,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1.7rem 0;
}

/* Blockqutoes */
blockquote {
  padding: 2.5rem 2.5rem;
  background: #eeeeee;
  margin-top: .5rem;
  margin-bottom: .5rem;
  line-height: 1.4;
  text-align: center;
}

blockquote p {
  color: #757575;
  font-size: 24px;
  font-weight: bold;
}

blockquote > p:before {
  content: open-quote;
}

blockquote > p:after {
  content: close-quote;
}

blockquote > footer > p {
  color: #555;
  font-weight: 300;
  font-size: 20px;
  margin: 1.7rem 0rem;
}

blockquote footer strong {
  color: #878787;
  font-size: 1.125rem;
  text-transform: uppercase;
}

blockquote footer strong:before {
  content: "\2014 \0020";
}

cite {
  font-style: normal;
}

pre {
  white-space: pre-wrap;
}

img {
  padding-bottom: 4px; /*simulate published appearance*/
}

.cke_editable img {
  max-width: 100%;
}

img.block-image {
  display: block;
  padding-bottom: 0px; /*simulate published appearance*/
}
img.block-image.space-bottom-like-column {
  margin-bottom: 20px;
}
.uw_tf_standard_wide img.block-image.space-bottom-like-column {
  margin-bottom: 30px;
}

ol li > ol {
  list-style-type: lower-alpha;
}
ol li > ol li > ol {
  list-style-type: lower-roman;
}

ul {
  list-style-type: square;
}
ul li > ul {
  list-style-type: circle;
}
ul li > ul li > ul {
  list-style-type: disc;
}

/*tables*/
table {
  margin: 1em 0;
  min-width: 100%;
  max-width: 100%;
  font-size: .9em;
}
.uw_tf_standard table,
.uw_tf_standard_wide table,
.full_html table {
  max-width: 750px;
}
caption {
  border: solid 1px #eee;
  border-bottom: none;
  padding: .5em;
  font-style: italic;
}
th,
td {
  padding: .5em;
  border-bottom: solid 1px #ddd;
  vertical-align: top;
}
th {
  font-style: italic;
  background-color: #eee;
  text-align: left;
}

/*styles*/
.highlight {
  font-size: 1.2em;
  color: #555;
}
.caption {
  margin-top: -1em;
  border: solid 1px #ddd;
  padding: .5em;
  font-size: .85em;
  color: #444;
}
.uw_tf_standard_sidebar .caption {
  font-size: 1em;
}
h2.no-border {
  border: none;
}

/*indents*/
.rteindent1 {
  margin-left: 2em;
}
.rteindent2 {
  margin-left: 4em;
}
.rteindent3 {
  margin-left: 6em;
}
.rteindent4 {
  margin-left: 8em;
}

/*images*/
.image-left {
  float: left;
  margin: 0 1em 1em 0;
}
.image-right {
  float: right;
  margin: 0 0 1em 1em;
}
.image-center {
  display: block;
  margin: auto;
  text-align: center;
}

/*list types*/
ul.circle {
  list-style-type: circle;
}
ul.disc {
  list-style-type: disc;
}
ul.square {
  list-style-type: square;
}
ol.lower-roman {
  list-style-type: lower-roman;
}
ol.upper-roman {
  list-style-type: upper-roman;
}
ol.lower-alpha {
  list-style-type: lower-alpha;
}
ol.upper-alpha {
  list-style-type: upper-alpha;
}
ol.decimal {
  list-style-type: decimal;
}

/* Definition lists */
dl > dt {
  font-weight: bold;
  margin-left: 1em;
  margin-top: 1em;
}
dl > dd {
  margin-left: 3em;
  margin-bottom: 1em;
}

/* Things that can be inserted, but will be stripped, so we want to make it look like they don't work
 * by stripping the default styling and making them look like normal text
 */
u {
  text-decoration: none;
}

/*div templates*/
.col-50,
.col-33,
.col-66,
.threecol-33 {
  float: left;
  border: dotted 1px #777;
}
.col-50.first,
.col-33.first,
.col-66.first,
.threecol-33 {
  margin-right: 3%;
}
.threecol-33.last {
  margin-right: 0;
}
.uw_tf_standard_sidebar .col-50.first,
.uw_tf_standard_sidebar .col-33.first,
.uw_tf_standard_sidebar .col-66.first,
.uw_tf_standard_sidebar .threecol-33 {
  margin-right: 2%;
}
.uw_tf_standard_sidebar .threecol-33.last {
  margin-right: 0;
}
.col-50 {
  width: 48%;
}
.col-33 {
  width: 32%;
}
.col-66 {
  width: 64%;
}
.threecol-33 {
  width: 30.9%;
}

/*expandable/collapsable regions*/
body.uw_tf_standard > .expandable,
body.uw_tf_standard_wide > .expandable {
  margin-bottom: 1em;
}
body.uw_tf_standard > .expandable > h2:first-child,
body.uw_tf_standard_wide > .expandable > h2:first-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: normal;
}
body.uw_tf_standard > .expandable > h2:first-child,
body.uw_tf_standard_wide > .expandable > h2:first-child {
  background: #eee url('../images/menu-expanded.png') no-repeat 6px center;
  border: none;
  margin: 0;
  padding: 4px 4px 4px 16px;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: left;
}
body.uw_tf_standard > .expandable > .expandable-content,
body.uw_tf_standard_wide > .expandable > .expandable-content {
  border: solid 1px #eee;
  border-top: none;
  border-bottom-color: #ddd;
  padding: 10px;
}
body.uw_tf_standard > .expandable > .expandable-content :last-child,
body.uw_tf_standard_wide > .expandable > .expandable-content :last-child {
  margin-bottom: 0;
}

/* legacy */
.half-column {
  float: left;
  width: 48%;
  border: dotted 1px #777;
}
.half-column.first {
  margin-right: 3%;
}

/*footer templates*/
.fcol {
  float: left;
  margin-right: 18px;
  border: dotted 1px #777;
}
.fcol h2,
.fcol h3 {
  font-size: 1.1em;
}
.fcol ul,
.fcol ol {
  list-style-type: none;
  margin-left: 0;
}
.fcol ul li,
.fcol ol li {
  margin-bottom: .1em;
}

.fcol.three-a-1 {
  width: 360px;
}
.fcol.three-a-2 {
  width: 360px;
}
.fcol.three-a-3 {
  width: 220px;
  margin-right: 0;
}

.fcol.three-1 {
  width: 210px;
}
.fcol.three-2 {
  width: 365px;
}
.fcol.three-3 {
  width: 365px;
  margin-right: 0;
}

.fcol.four-1 {
  width: 210px;
}
.fcol.four-2,
.fcol.four-3 {
  width: 245px;
}
.fcol.four-4 {
  width: 220px;
  margin: 0;
}

.fcol.five-1 {
  width: 210px;
}
.fcol.five-2,
.fcol.five-3,
.fcol.five-4 {
  width: 170px;
}
.fcol.five-5 {
  width: 180px;
  margin: 0;
}

/**
 * Markup free clearing.
 *
 * @see http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE7 */
*:first-child + html .clearfix {
  min-height: 1%;
}

/* old-school CTA: generic implementation */

body.uw_tf_standard_sidebar ul.quick-links {
  font-size: 1.2352941176em;
  list-style: none;
  padding-left: 0;
}

body.uw_tf_standard_sidebar ul.quick-links li {
  padding: 0;
  margin-top: 1px;
  margin-bottom: 0;
  background: #ccc;
}
body.uw_tf_standard_sidebar ul.quick-links li a+br[type="_moz"] {
  display: none;
}
body.uw_tf_standard_sidebar ul.quick-links a {
  display: block;
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  color: #fff;
  background: #96172e; /* same as link colour */
  border-bottom: 1px solid #cecece;
}

body.uw_tf_standard_sidebar ul.quick-links a:hover {
  color: #fff;
  background: #8d162c; /* 1 shade darker than link colour at colllor.com */
  border-bottom: 1px solid #000;
  border-right: 5px solid #000;
  padding-right: 3px;
}

/* old-school CTA: allow black override */

body.uw_tf_standard_sidebar ul.quick-links.black a {
  background: #000 !important;
}

body.uw_tf_standard_sidebar ul.quick-links.black a:hover {
  border-color: #aaa !important;
}

/* area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

/* theme colors */
body.org_ahs a,
body.uw_tf_standard_site_footer.org_ahs a:visited,
body.uw_tf_standard_site_footer.org_ahs a:hover {
  color: #007f8a;
}
body.org_ahs hr,
body.org_ahs h2 {
  border-color: #009aa6;
}

body.org_art a,
body.uw_tf_standard_site_footer.org_art a:visited,
body.uw_tf_standard_site_footer.org_art a:hover {
  color: #ac6100;
}
body.org_art hr,
body.org_art h2 {
  border-color: #e98300;
}

body.org_eng a,
body.uw_tf_standard_site_footer.org_eng a:visited,
body.uw_tf_standard_site_footer.org_eng a:hover {
  color: #57068c;
}
body.org_eng hr,
body.org_eng h2 {
  border-color: #57068c;
}

body.org_env a,
body.uw_tf_standard_site_footer.org_env a:visited,
body.uw_tf_standard_site_footer.org_env a:hover {
  color: #747800;
}
body.org_env hr,
body.org_env h2 {
  border-color: #b6bf00;
}

body.org_mat a,
body.uw_tf_standard_site_footer.org_mat a:visited,
body.uw_tf_standard_site_footer.org_mat a:hover {
  color: #d42293;
}
body.org_mat hr,
body.org_mat h2 {
  border-color: #e0249a;
}

body.org_sci a,
body.uw_tf_standard_site_footer.org_sci a:visited,
body.uw_tf_standard_site_footer.org_sci a:hover {
  color: #0073cf;
}
body.org_sci hr,
body.org_sci h2 {
  border-color: #0073cf;
}

body.org_school a,
body.uw_tf_standard_site_footer.org_school a:visited,
body.uw_tf_standard_site_footer.org_school a:hover {
  color: #96172e;
}
body.org_school hr,
body.org_school h2 {
  border-color: #96172e;
}

body.org_cgc a,
body.uw_tf_standard_site_footer.org_cgc a:visited,
body.uw_tf_standard_site_footer.org_cgc a:hover {
  color: #c4262e;
}
body.org_cgc hr,
body.org_cgc h2 {
  border-color: #000;
}

body.org_ren a,
body.uw_tf_standard_site_footer.org_ren a:visited,
body.uw_tf_standard_site_footer.org_ren a:hover {
  color: #00693c;
}
body.org_ren hr,
body.org_ren h2 {
  border-color: #d2c295;
}

body.org_stj a,
body.uw_tf_standard_site_footer.org_stj a:visited,
body.uw_tf_standard_site_footer.org_stj a:hover {
  color: #01573e;
}
body.org_stj hr,
body.org_stj h2 {
  border-color: #c88a11;
}

body.org_stp a,
body.uw_tf_standard_site_footer.org_stp a:visited,
body.uw_tf_standard_site_footer.org_stp a:hover {
  color: #727c2e;
}
body.org_stp hr,
body.org_stp h2 {
  border-color: #584528;
}

/* old-school CTA: theme-specific colours */
body.uw_tf_standard_sidebar.org_ahs ul.quick-links a {
  background: #007f8a; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_ahs ul.quick-links a:hover {
  background: #00707a; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_art ul.quick-links a {
  background: #ac6100; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_art ul.quick-links a:hover {
  background: #a35c00; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_eng ul.quick-links a {
  background: #57068c; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_eng ul.quick-links a:hover {
  background: #480576; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_env ul.quick-links a {
  background: #747800; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_env ul.quick-links a:hover {
  background: #636600; /* 1 shade darker than CLOSEST TO link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_mat ul.quick-links a {
  background: #d42293; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_mat ul.quick-links a:hover {
  background: #c11f86; /* 1 shade darker than CLOSEST TO link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_sci ul.quick-links a {
  background: #0073cf; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_sci ul.quick-links a:hover {
  background: #0065b8; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_school ul.quick-links a {
  background: #96172e; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_school ul.quick-links a:hover {
  background: #8d162c; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_cgc ul.quick-links a {
  background: #c4262e; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_cgc ul.quick-links a:hover {
  background: #bc242c; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_ren ul.quick-links a {
  background: #00693c; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_ren ul.quick-links a:hover {
  background: #00522e; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_stj ul.quick-links a {
  background: #01573e; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_stj ul.quick-links a:hover {
  background: #013d2c; /* 1 shade darker than link colour at colllor.com */
}
body.uw_tf_standard_sidebar.org_stp ul.quick-links a {
  background: #727c2e; /* same as link colour */
}
body.uw_tf_standard_sidebar.org_stp ul.quick-links a:hover {
  background: #5f6827; /* 1 shade darker than link colour at colllor.com */
}

/* Org chart
"body >" is there to ensure it only appears for org charts created at the root level. Org charts are not allowed as descendants of other elements.
*/
body > ul.uw_org_chart:before {
  content: 'The following will be displayed as an org chart once saved.';
  color: #666;
  font-size: 80%;
}
body > ul.uw_org_chart {
  border: 1px solid black;
  padding: 0.5em;
  list-style: none;
}
body > ul.uw_org_chart ul,
body > ul.uw_org_chart li {
  margin-bottom: 0;
  list-style: square;
}
ol.decimal {
  margin: 0;
  padding: 0 0 1em 1em;
}
ol.decimal ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
ol.decimal li {
  display: table;
  counter-increment: item;
  margin-top: 0.5em;
}
ol.decimal li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
ol.decimal li li {
  margin-top: 0.5em;
}
ol.decimal li li:before {
  content: counters(item, ".") " ";
}
