/* Prevents issue in RT#208461 */
.cke_skin_kama .cke_rcombo a {
  margin-bottom: 5px;
}
/* Get rid of right hand border in dialog boxes (caused by page CSS for tables) */
.cke_dialog tr td:last-child {
  border: none;
}
/* Adjust CSS for Twitter widget dialog to avoid unsightly gaps when hiding/showing dialog elements */
.cke_dialog div[name="Twitter"] td {
  padding: 0;
}
.cke_dialog div[name="Twitter"] td .cke_dialog_ui_text {
  padding: 5px 0;
}
.cke_dialog div[name="Twitter"] td .cke_dialog_ui_html {
  display: block;
  padding: 5px 0;
}
